*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  body{
    background-color: #ccd5ae;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .wrapper{
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
    padding-block: 30px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    background-color: hsl(67 50% 86% / .7);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

caption,th,td{
    padding: 1rem;
  }

  caption, th{
    text-align: left;
  }

  caption{
    background-color: #faedcd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #780000;
  }

  th{
    background-color: #fefae0;
  }

  tr:nth-of-type(2n){
    background-color: hsl(67 50% 86% / 1);
  }

  @media(max-width: 650px){
    th{
        display: none;
    }
    td{
        display: block;
        padding: 0.5rem 1rem;
    }

    td:first-child{
        padding: 1rem;
    }

    td:last-child{
        padding: 1rem;
    }

    td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
  }